html {
  font-size: 12px;
  font-family: 'glacial-indifference';
}

.name {
  font-size: 60px;
  text-align: center;
}

.myheader {
  background-color: #d8d8d8;
  color: #2c2e30;
  height: 100px;
}

.content {
  padding: 16px;
  text-align: center;
}

#logo{
  margin-left: 0px;
  height: 100px;
  width: 150px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 100px;
}

.headerText {
  right: 0px;
  font-size: 10px;
  text-align: right;
  background: inherit;
}

.svgLogo{
  top: 0%;
  left: 0px;
  background: inherit;

}

.split {
  height: inherit;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
}

#headerText1 {
  padding-right: 20%;
  font-size: 12px;
}

#svgLogo {
  padding-left: 20%;
}

#fed {
  padding-top: 2%;
}

#pc{
  line-height: 0%;
}

#profile {
  padding: 150px;
}

#profile::after {
  content: "";
  clear: both;
  display: table;
}

#profilePic {
  height: 75%;
  width: 75%;
}

#about {
  float: right;
  width: 30%;
  padding: 5px;
  text-align: right;
}

#details {
  float: left;
  width: 45%;
  padding: 5px;
}

#photoArea {
  float: left;
  width: 20%;
  padding: 5px;
}

@font-face{
  font-family: "glacial-indifference";
  src: url("assets/fonts/glacial-indifference-regular-webfont.ttf");
  src:
  url("assets/fonts/glacial-indifference-bold-webfont.woff") format("woff"),
  url("assets/fonts/glacial-indifference-italic-webfont.woff") format("woff"),
  url("assets/fonts/glacial-indifference-regular-webfont.woff") format("woff");
}